@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  font-family: var(--font-geist-sans);
}

h1, h2, h3 {
  font-weight: 600;
  letter-spacing: -0.02em;
}
